.main {
  margin-top: 93px;
  padding: 20px;
}

.contentBlock {
  display: flex;
  justify-content: space-between;
}

.tasks {
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 24px;
  color: var(--color-text-primary);
}

.expiredTasks {
  margin-top: 40px;
}

.appointedTask {
  width: 100%;

  @media screen and (max-width: 1350px) {
    max-width: 415px;
  }
}

.responsive {
  display: flex;
  flex-direction: column;
}
