.main {
  margin-top: 93px;
  padding: 20px;
}

.contentBlock {
  display: flex;
  justify-content: space-between;
}

.tasks {
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 24px;
  color: var(--color-text-primary);
}

.expiredTasks {
  margin-top: 40px;
}

.rightBlock {
  margin-left: 32px;
}

.appointedTask {
  max-width: 100%;
}

.responsive {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    max-width: 415px;
  }
}
