.box {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 40px;
  align-items: center;
}

.action {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 25px;

  // @media screen and (max-width: 767px) {
  // }
  .inputTitle {
    width: 100%;
    height: 40px;
    border-radius: 2px;
    gap: 8px;
    padding: 10px 12px;
    border: none;
    border-bottom: 1px solid var(--color-additional-border100);
  }

  .select {
    width: 100%;
    height: 40px;
    border-radius: 2px;
    gap: 8px;
    padding: 10px 12px;
    border-bottom-width: 1px;
  }

  .selectStyle {
    border-bottom: 1px solid var(--color-additional-border100);
    font-family: var(--font-family-secondary);
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.25px;
    vertical-align: middle;
  }
}

.btn {
  width: 140px;
  height: 40px;
  padding: 13px 18px;
  font-family: var(--font-family-secondary);
  font-weight: 300;
  font-size: var(--font-size-xs);
  line-height: 100%;
  letter-spacing: 0.25px;

  @media screen and (max-width: 1349px) {
    width: 132px;
    height: 36px;
    border-radius: 8px;
    padding: 11px 14px;
  }
}

.content {
  width: 540px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 1349px) {
    width: 100%;
  }

  .txt {
    font-family: var(--font-family-secondary);
    font-weight: 300;
    font-size: var(--font-size-xs);
    line-height: 130%;
    letter-spacing: 0.25px;
    text-align: center;
    vertical-align: middle;
    color: var(--color-text-primary);
  }

  .span {
    color: #6c757d;
  }
}
