.userBlock {
  margin-bottom: 50px;
  padding-left: 20px;
}

.userName {
  color: var(--color-text-primary);
}

.userEmail {
  color: var(--color-text-secondary);
}

.logOut {
  margin-top: 30px;
  color: var(--color-additional-red800);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 20px;
  transition: var(--transition-effect);
}

.logOut:hover {
  transform: var(--transform-effect);
}
