.container {
  width: 100%;
  height: fit-content;
  display: flex;
  gap: 30px;

  @media screen and (max-width: 1349px) {
    flex-direction: column;
    gap: 40px;
  }
}

.leftBlock {
  width: 337px;
  height: fit-content;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-shadow: 0 0 15px 0 #2c0b0f0a;

  @media screen and (max-width: 1349px) {
    width: 100%;
  }

  .title {
    width: 100%;
    min-height: 26;
    font-family: var(--font-family-primary);
    font-weight: 600;
    font-size: var(--font-size-h6);
    line-height: 130%;
    letter-spacing: 0.25px;
    vertical-align: middle;
    color: var(--color-text-primary);
  }

  .subtitle {
    width: 100%;
    min-height: 22;
    display: flex;
    gap: 12px;
    flex-wrap: nowrap;
    font-family: var(--font-family-secondary);
    font-weight: 300;
    font-size: var(--font-size-s);
    line-height: 140%;
    letter-spacing: 0.25px;
    vertical-align: middle;
    color: var(--color-text-primary);
  }

  .select {
    ::-webkit-calendar-picker-indicator {
      filter: invert(1);
    }
    width: 100%;
  }
}

.rightBlock {
  width: 630px;
  height: fit-content;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media screen and (max-width: 1349px) {
    width: 100%;
    gap: 40px;
  }

  .top {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 0 0 15px 0 #2c0b0f0a;
  }

  .titleBox {
    width: 590px;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 10px;

    .img {
      width: 40px;
      height: 40px;
      padding: 10px;
    }

    .title {
      width: 540px;
      height: 26px;
      font-family: var(--font-family-primary);
      font-weight: 600;
      font-size: var(--font-size-h6);
      line-height: 130%;
      letter-spacing: 0.25px;
      vertical-align: middle;
    }
  }

  .txt {
    width: 100%;
    height: fit-content;
    font-family: var(--font-family-secondary);
    font-weight: 300;
    font-size: var(--font-size-s);
    line-height: 140%;
    letter-spacing: 0.25px;
    vertical-align: middle;
  }

  .buttonBox {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 30px;

    @media screen and (max-width: 1349px) {
      flex-direction: column;
      gap: 20px;
    }

    .button {
      /* width: 300px; */

      @media screen and (max-width: 1349px) {
        width: 100%;
        font-family: var(--font-family-secondary);
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0.25px;
      }
    }
  }
}