.tabs {
  width: 100%;
}

.tabList {
  display: flex;
  gap: 45px;
  max-width: 531px;

  @media screen and (max-width: 1349px) {
    gap: 28px;
  }

  @media screen and (max-width: 767px) {
    gap: 0;
  }
}

.tab {
  flex: 1;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-text-secondary);
  transition: var(--transform-effect);

  &:hover {
    color: var(--color-accent-red500);
  }

  &.active {
    border-bottom: 1px solid var(--color-accent-red500);
    font-weight: var(--font-weight-semibold);
    color: var(--color-text-primary);
  }
}

.tabContent {
  padding: 20px;
  font-size: 14px;
  color: #333;

  @media screen and (max-width: 767px) {
    padding-left: 0;
    padding-right: 0
  }
}

.tabText {
  @media screen and (max-width: 767px) {
    font-size: var(--font-size-s);
  }
}
