.dropdownHeader {
  min-height: 80px;

 /*  p {
    position: relative;
    margin-left: 20px;

    &::before {
      content: '⋮⋮';
      font-size: 16px;
      color: var(--color-text-secondary);
      position: absolute;
      left: -40px;
      bottom: 0;
      transform: translateY(-50%);
      line-height: 12px;
      letter-spacing: -2px;
      cursor: grab;
    }
  } */
}

.dropdownContent {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.newTextFields {
  display: flex;
  flex-direction: column;
}

.icon {
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
