.auth {
  position: relative;
  width: 100%;
  background-color: var(--color-bg-main);

  @media (max-width: 767px) {
    display: flex;
    justify-content: center;
  }

  &__container {
    position: absolute;
    min-width: 300px;
    left: 200px;
    top: 153px;
    background-color: var(--color-bg-main);

    @media screen and (max-width: 1349px) {
      left: 56px;
    }

    @media (max-width: 767px) {
      position: static;
      margin-top: 123px;
      padding: 10px;
    }
  }

  &__heading {
    display: block;
    padding-left: 10px;
    border-left: 4px solid var(--color-accent-red500);
    border-radius: 3px;
    margin-bottom: 48px;
    font-size: 32px !important;

    @media (max-width: 768px) {
      font-size: 24px !important;
    }

    @media (max-width: 767px) {
      font-size: 20px !important;
    }
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 12px;
  }

  &__passwordWrapper {
    position: relative;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    margin-bottom: 24px;
    margin-top: 24px;
  }

  &__link {
    font-family: 'Moscow Sans', sans-serif;
    font-weight: 300;
    font-style: 14px;
    line-height: 100%;
    letter-spacing: 0.25px;
    text-decoration: none;
    color: var(--color-text-primary);

    &:first-child {
      color: var(--color-text-secondary);
    }
  }

  &__button {
    width: 100%;
  }

  &__eyeIconWrapper {
    position: absolute;
    top: 40%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

.auth__input::placeholder {
  font-family: 'Moscow Sans', sans-serif;
}

.error {
  color: var(--color-accent-red500);
  margin-top: 15px;
  margin-bottom: 15px;
}
