.constructorWrapper {
  max-width: 1350px;
  display: flex;
  margin: 0 auto;
  width: 100%;
  padding: 30px;
  padding-top: 123px;

  @media screen and (max-width: 767px) {
    padding: 20px;
    padding-top: 123px;
  }
}

.appWrapper {
  max-width: 1350px;
  display: flex;
  margin: 0 auto;
  width: 100%;

  @media screen and (max-width: 767px) {
    padding-left: 0;
    padding-right: 0;
    display: block;
  }

  main {
    position: relative;
    overflow: hidden;
    width: 100%;

    @media screen and (min-width: 768px) and (max-width: 1349px) {
      width: calc(100% - 294px);
    }
  }
}

.main {
  padding: 30px;
  padding-top: 123px;
  height: 100vh;
  border-left: 1px solid var(--color-additional-border100);
  overflow-y: auto;
  scrollbar-width: none;
  width: 100%;

  @media screen and (min-width: 768px) and (max-width: 1349px) {
    padding: 115px 20px 20px;
  }

  @media screen and (max-width: 767px) {
    margin: 0 auto;
    border-left: none;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 520px;
  }

  @media screen and (min-width: 1350px) {
    width: 100%;
  }
}
