.container {
  width: 100%;
  height: 64px;
  border-radius: 8px;
  padding: 12px 0;
  // margin-top: 28px;
}
.box {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 33px;
  border-radius: 8px;
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: var(--color-additional-border100);
}
.input {
  all: unset;
  width: 957px;
  height: 40px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 9px 12px;
  font-family: Moscow Sans;
  font-weight: 300;
  font-size: var(--font-size-xs);
  line-height: 143%;
  letter-spacing: 0.25px;
  color: var(--color-text-primary);
  &::placeholder {
    font-family: Moscow Sans;
    font-weight: 300;
    font-size: var(--font-size-s);
    line-height: 140%;
    letter-spacing: 0.25px;
    color: var(--color-text-secondary);
  }
}
.icon {
  width: 40px;
  height: 42px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}
