.studentBox {
  display: grid;
  grid-template-columns: 610px 216px 148px;
  grid-template-areas: 'title date format';
  align-items: flex-end;
  padding-top: 16px;
  padding-bottom: 6px;
  width: 100%;

  @media screen and (max-width: 1349px) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'title title'
      'date format';
  }
}

.title {
  grid-area: title;
  width: 100%;
  height: 40px;

  input {
    resize: none;
    height: 100%;
    width: 602px;
    border-bottom: 1px solid #f8d7d9;

    &::placeholder {
      font-weight: var(--font-weight-light);
      line-height: var(--line-height-m);
      font-size: var(--font-size-m);
      font-family: var(--font-family-secondary);
    }
  }
}

.name {
  width: 602px;
  height: 40px;
  border-radius: 2px;
  padding: 9px 12px;
  background: #f8f9fa33;
  border-bottom: 1px solid #831f29;
  backdrop-filter: blur(60px);
}

.progress {
  width: 200px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  @media screen and (max-width: 1349px) {
    width: 100%;
    height: 62px;
    padding: 9px 12px;
    justify-content: center;
  }
}

.progress__txt {
  width: fit-content;
  height: 18px;
  font-family: var(--font-family-secondary);
  font-weight: 300;
  font-size: var(--font-size-xs);
  line-height: 130%;
  letter-spacing: 0.25px;
  vertical-align: middle;
  color: #6c757d;
}

.bar {
  width: 181px;
  height: 14px;
  border-radius: 20px;
  gap: 10px;
}

.indicator {
  background-color: #4dd4ac;
  height: 100%;
}

.btns {
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 18px;
  gap: 24px;
  border-left: 1px solid var(--color-additional-border100);

  @media screen and (max-width: 1349px) {
    width: 100%;
    height: 62px;
    padding: 9px 12px;
    justify-content: center;
  }

  @media screen and (max-width: 767px) {
    padding: 16px 8px 6px;
  }
}

.btn {
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 8px;
  border-width: 1px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 1349px) {
    width: 36px;
    height: 36px;
  }
}

.btn_disPrymary {
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid #e9ecef;
  fill: #e9ecef;

  @media screen and (max-width: 1349px) {
    width: 36px;
    height: 36px;
  }
}

.btn_disSecondary {
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: #e9ecef;
  fill: #acb5bd;

  @media screen and (max-width: 1349px) {
    width: 36px;
    height: 36px;
  }
}

.access {
  border-right: 1px solid var(--color-additional-border100);
  cursor: pointer;

  div {
    width: 100%;
  }
}

.formInput {
  border-bottom: 1px solid var(--color-additional-border700);
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-s);
  font-family: var(--font-family-secondary);
  border-radius: 0;
  padding: 0;

  @media screen and (max-width: 767px) {
    font-size: var(--font-size-xs);
    resize: none;
    max-height: 60px;
  }

  @media screen and (min-width: 1350px) {
    padding-left: 15px;
    margin-left: 8px;
    margin-right: 8px;
  }
}
