.drpdnContent {
  border-top: 1px solid var(--color-bg-main);
  padding: 0;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn {
  width: 220px;
  height: 40px;
  border-radius: 8px;
  padding: 13px 18px;
  border-width: 1px;
  margin-bottom: 30px;
}
