.container {
    width: 100%;
    height: 100%;
  }
  
  .list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .lessonItem {
    border: 1px solid #ddd;
    border-radius: 8px;
    background: var(--color-bg-main);
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: visible;
    
  }
  
  .toggleButton {
    padding: 6px 12px;
    border-radius: 4px;
    max-width: 152px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
  }
  
  .expandedContent {
    padding: 30px;
  }
  
  .addButton {
    border-radius: 50%;
    background-color: var(--color-bg-gray100);
    border: none;
    width: 40px;
    height: 40px;
    margin-left: 12px;
    margin-top: 16px;
    cursor: pointer;
  }