input[type='radio'] {
  width: 20px;
  height: 20px;
  border: 5px solid #dc3444;
  background-color: #dc3444;
  border-radius: 50%;
  appearance: none;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;

  &:checked {
    border-color: #dc3444;
    background-color: transparent;
  }

  &:checked::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    background-color: var(--color-bg-main);
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  &:disabled {
    opacity: 0.5;
  }
}
