.warningCard {
    min-width: 520px;
    min-height: 199px;
    position: relative;
    background-color: var(--color-bg-main);
    border: 1px solid var(--color-accent-negative);
    border-radius: 9px;
    margin-top: 58px;
    margin-bottom: 40px;
}

.warningIndicator {
    height: 40px;
    width: 100%;
    background-color: var(--color-accent-negative);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 8px 8px 0 0;
    color: var(--color-bg-main);
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.textBlock {
    margin-top: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px
}

.text {
    color: var(--color-text-primary);
}

.caption {
    color: var(--color-text-secondary);
}

