.container__title {
  font-size: var(--font-size-xxl);
  margin-bottom: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 100vw;
  white-space: nowrap;
  scrollbar-width: none;
}

.cards {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 24px;

  max-width: 100vw;
  white-space: nowrap;
  scrollbar-width: none;
}

.card {
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  height: 100%;
  border-radius: 10px 10px 0 0;

  &__content {
    width: 312px;
    height: fit-content;

    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 10px 10px 0 0;

    @media screen and (max-width: 1349px) {
      width: 100%;
      height: fit-content;
    }
  }

  &__status {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 10px 10px 0 0;
  }

  &__title {
    color: var(--color-bg-gray100);
    border-radius: 10px 10px 0 0;
  }

  &__list {
    padding: 0px 16px 16px 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: space-between;
    padding: 12px;

    &:hover {
      box-shadow: 0 0 15px 0 rgba(44, 11, 15, 0.06);
      border-radius: 0px 8px 8px 0;
    }
  }

  &__itemName {
    font-size: var(--font-size-xs);
  }

  &__itemLeft {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}


.statusUnsert {
  background-color: var(--color-accent-negative);
}

.statusReviewing {
  background-color: var(--color-accent-orange);
}

.statusDone {
  background-color: var(--color-accent-success);
}

.backToPage {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
  text-decoration: none;

  &:visited {
    color: var(--color-text-secondary);
  }
}


@media screen and (min-width: 768px) and (max-width: 1349px) {
  .container__title {
    font-size: var(--font-size-l);
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .container__title {
    font-size: var(--font-size-h6);
    margin-bottom: 40px;
  }
}