.container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 30px;
//   @media screen and (max-width: 1349px) {

//   }
}
.content {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
//   gap: 30px;
  padding-bottom: 30px;
}
.addButton {
  border-radius: 50%;
  background-color: var(--color-bg-gray100);
  border: none;
  width: 40px;
  height: 40px;
  margin-left: 12px;
  margin-top: 16px;
  cursor: pointer;
}