.container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.blockHeader {
  grid-template-columns: 621px 216px 160px;
  margin-bottom: 0;
  @media screen and (max-width: 1349px) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'lesson lesson'
      'date format';
  }
}
.content {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 0px 12px 30px;
}
.addButton {
  border-radius: 50%;
  background-color: var(--color-bg-gray100);
  border: none;
  width: 40px;
  height: 40px;
  margin-left: 12px;
  margin-top: 16px;
  cursor: pointer;
}
