.contentTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  gap: 40px;

  @media screen and (max-width: 1349px) {
    text-align: center;
  }
}

.lessonButton {
  min-width: 120px;
}
