.container {
  position: relative;
  height: 100%;
}

.backToPage {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
  text-decoration: none;
  transition: var(--transition-effect);

  &:visited {
    color: var(--color-text-secondary);
  }

  &:hover {
    transform: var(--transform-effect);
  }
}

.backText {
  color: var(--color-text-secondary);
}

.icon {
  color: var(--color-additional-red800);
}

.titleBlock {
  width: auto;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 1349px) {
    flex-direction: column;
    gap: 20px;
  }

  @media screen and (max-width: 768px) {
    margin-bottom: 40px;
  }
}

.title {
  color: var(--color-text-primary);
  font-family: var(--font-family-primary);
  font-weight: 700;
  font-size: var(--font-size-xl);
  line-height: 125%;
  letter-spacing: 0.5px;
  vertical-align: middle;

  @media screen and (min-width: 768px) and (max-width: 1349px) {
    font-size: var(--font-size-h6);
  }

  @media screen and (max-width: 768px) {
    font-size: var(--font-size-m);
  }
}

.buttonsBlock {
  display: flex;
  align-items: center;
  gap: 30px;

  @media screen and (max-width: 1349px) {
    gap: 24px;
  }

  @media screen and (max-width: 767px) {
    gap: 14px;
  }
}

.button {
  @media screen and (max-width: 1349px) {
    width: 100%;
  }
}

.desc {
  width: 100%;
  height: fit-content;
  min-height: 22px;
  font-family: var(--font-family-secondary);
  font-weight: 300;
  font-size: var(--font-size-s);
  line-height: 140%;
  letter-spacing: 0.25px;
  vertical-align: middle;
  color: var(--color-text-primary);
  margin-bottom: 40px;

  @media screen and (min-width: 768px) and (max-width: 1349px) {
    margin-top: 22px;
  }
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 30px;

  @media screen and (max-width: 1349px) {
    width: 100%;
    flex-direction: column;
    gap: 40px;
  }
}

.leftBox {
  width: 240px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-right-width: 1px var(--color-additional-border100);

  @media screen and (max-width: 1349px) {
    width: 100%;
  }
}

.lessonMaterials {
  width: 100%;
  text-align: center;

  button {
    margin-bottom: 30px;
  }
}
