.sidebarItemLink {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  color: var(--color-text-primary);
  width: 100%;
  height: 45px;
  padding: 12px;
  border-radius: 8px;
  transition: var(--transition-effect);

  &:hover {
    color: var(--color-accent-red500);
    transform: var(--transform-effect);
  }
}

.sidebarItemLink.active {
  background-color: var(--color-accent-red500);
  color: var(--color-bg-main);
  text-decoration: none;
}

.disabledItem {
  display: flex;
  align-items: center;
  gap: 20px;
}

.disabledClass {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  color: var(--color-text-secondary);

  &:hover {
    background-color: var(--color-bg-gray100);
    color: var(--color-text-secondary);
    transform: none;
  }
}
