.lessonContent {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-areas: 'title date format';
  align-items: flex-end;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;

  &:first-child {
    text-align: left;
  }

  @media screen and (max-width: 1349px) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'title title'
      'date format';
  }
}

.title {
  grid-area: title;
  display: flex;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
  border-right: 1px solid var(--color-additional-border100);

  &::before {
    content: '⋮⋮';
    font-size: 16px;
    color: var(--color-text-secondary);
    position: absolute;
    left: 10px;
    top: 20px;
    transform: translateY(-50%);
    line-height: 12px;
    letter-spacing: -2px;
    cursor: grab;
  }

  input {
    resize: none;
    margin-left: 30px;
    padding-bottom: 12px;
    height: 100%;
    border-width: 1px;

    &::placeholder {
      font-weight: var(--font-weight-light);
      line-height: var(--line-height-m);
      font-size: var(--font-size-m);
      font-family: var(--font-family-secondary);
    }
  }
}

.date {
  grid-area: date;

  @media screen and (max-width: 1349px) {
    padding-left: 0;
    margin-left: 30px;
  }
}

.format {
  grid-area: format;
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  border-left: 1px solid var(--color-additional-border100);
}

.title p {
  width: 100%;
  margin-left: 30px;
  border-bottom: 1px solid var(--color-additional-border700);
  padding-bottom: 9px;
}

.access {
  border-right: 1px solid var(--color-additional-border100);

  div {
    width: 100%;
  }
}

.date,
.format {
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  border-right: 1px solid var(--color-additional-border100);

  div {
    width: 100%;

    @media screen and (max-width: 1349px) {
      left: 0;
      margin: 0 auto;
    }
  }

  &:first-child,
  :nth-child(4) {
    min-height: 60px;
  }

  div:nth-child(2) {
    width: calc(100% + 2px);
    left: -1px;
  }
}

.constructorBtn {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  display: flex;
}

.formInput {
  border-bottom: 1px solid var(--color-additional-border700);
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-s);
  font-family: var(--font-family-secondary);
  border-radius: 0;
  padding: 0;

  @media screen and (max-width: 767px) {
    font-size: var(--font-size-xs);
    resize: none;
    max-height: 60px;
  }

  @media screen and (min-width: 1350px) {
    padding-left: 15px;
    margin-left: 8px;
    margin-right: 8px;
  }
}
