.offcanvasContainer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  background-color: #48505666;
  transition:
    transform 0.7s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.7s cubic-bezier(0.4, 0, 0.2, 1),
    visibility 0.7s;
  opacity: 0;
  visibility: hidden;
  z-index: 20;
  @media screen and (min-width: 1350px) {
    transform: translateX(100%);
  }

  @media screen and (max-width: 1349px) {
    transform: translateY(100%);
  }
}

.offcanvas {
  padding: 20px;
  background-color: var(--color-bg-main);
  border-left: 1px solid var(--color-additional-border100);
  position: absolute;
  color: var(--color-text-primary);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: 1350px) {
    padding-top: 123px;
    right: 0;
    height: 100%;
    width: 518px;
  }

  @media screen and (max-width: 1349px) {
    bottom: 0;
    width: 100%;
    height: 70%;
  }
}

.offcanvasContainerVisible {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.offcanvasTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.closeIcon {
  cursor: pointer;
}
