.container {
  width: 100%;
  height: fit-content;
  background-color: var(--color-bg-main);
  display: flex;
  flex-direction: column;
  // position: relative;
  gap: 30px;
  &__headBox {
    width: 100%;
    height: 45px;
    display: flex;
    gap: 14px;
  }
  &__btnBox {
    width: 924px;
    width: 94%;
    height: 45px;
    display: flex;
    gap: 24px;
  }
  &__boxbtn {
    position: relative;
  }
  &__btn {
    width: 213px;
    // width: fit-content;
    height: 45px;
    border-radius: 8px;
    border: none;
    padding: 10px 20px;
  }
  &__counterBox {
    width: 32px;
    height: 32px;
    position: absolute;
    top: -15px;
    left: 200px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background: var(--color-accent-red500);
  }
  &__counter {
    width: 9px;
    height: 18px;
    font-family: Moscow Sans;
    font-weight: 300;
    font-size: var(--font-size-xs);
    line-height: 130%;
    letter-spacing: 0.25px;
    vertical-align: middle;
    color: var(--color-text-button);
  }
  &__content {
    width: 997px;
    height: 675px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
}
