.header_1 {
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-xs);
  font-size: var(--font-size-super-large);
  font-family: var(--font-family-primary);
}

.header_2 {
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-l);
  font-size: var(--font-size-xl);
  font-family: var(--font-family-primary);
}

.header_3 {
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
  font-size: var(--font-size-l);
  font-family: var(--font-family-primary);
}

.header_4 {
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
  font-size: var(--font-size-xl);
  font-family: var(--font-family-primary);
}

.header_5 {
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-m);
  font-size: var(--font-size-m);
  font-family: var(--font-family-primary);
}

.header_6 {
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-m);
  font-size: var(--font-size-h6);
  font-family: var(--font-family-secondary);
}

.body_1 {
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-m);
  font-size: var(--font-size-m);
  font-family: var(--font-family-secondary);
}

.body_2 {
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-m);
  font-size: var(--font-size-s);
  font-family: var(--font-family-secondary);
}

.btn_links {
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-s);
  font-size: var(--font-size-xs);
  font-family: var(--font-family-secondary);
}

.caption {
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-s);
  font-size: var(--font-size-xs);
  font-family: var(--font-family-secondary);
}
