.button {
  padding: 13px 18px;
  border-radius: 8px;
  color: var(--color-text-primary);

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    color: var(--color-text-disabled);
  }
}

.primary {
  background-color: var(--color-accent-red500);
  color: var(--color-text-button);
  border: none;

  &:hover {
    background-color: var(--color-bg-red700);
  }

  &:focus {
    background-color: var(--color-bg-red800);
  }

  &:disabled {
    background-color: var(--color-bg-gray200);
    color: var(--color-text-disabled);
  }
}

.secondary {
  background-color: var(--color-bg-main);
  border: 1px solid var(--color-accent-red500);
  color: var(--color-text-primary);

  &:hover {
    border-color: var(--color-bg-red700);
  }

  &:focus {
    border-color: var(--color-bg-red800);
  }

  &:disabled {
    border-color: var(--color-bg-gray200);
  }
}

.text {
  border: none;

  &:hover {
    background: var(--color-bg-1);

  }
}
