:root {
    // background
  --color-bg-main: #FFFFFF;
  --color-bg-lightblue: #CFE1FE;
  --color-bg-gray100: #F8F9FA;
  --color-bg-gray200: #E9ECEF;
  --color-bg-red700: #831F29;
  --color-bg-1: #831F291A;
  --color-bg-2: #831F2999;

  // text
  --color-text-primary: #2C0B0F;
  --color-text-secondary: #6C757D;
  --color-text-disabled: #485056;
  --color-text-button: #F8F9FA;
  --color-text-link: #B02A37;
  --color-link-hovered: #831F29;
  --color-link-focused: #58151C;

  // additional
  --color-additional-border100: #F8D7D9;
  --color-additional-border700: #831F29;
  --color-additional-grey: #F2EDF4;
  --color-additional-purple: #4D233F;
  --color-additional-red800: #58151C;
  --color-additional-button: #F8F9FA;
  --color-additional-icons-red: #B02A37;
  --color-additional-icons-grey: #ACB5BD;

  // accent
  --color-accent-red500: #DC3444;
  --color-accent-success: #4DD4AC;
  --color-accent-negative: #E35C6A;
  --color-accent-orange: #FD9843;
  --color-accent-info: #3D8BFD;

}