.card {
  width: 483px;
  height: 236px;
  height: fit-content;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  box-shadow: 0px 0px 15px 0px #2c0b0f0a;
  @media screen and (max-width: 1349px) {
    width: 100%;
    height: 222px;
    height: fit-content;
    padding: 20px;
  }
}
.title {
  width: 100%;
  min-height: 52px;
  font-family: var(--font-family-primary);
  font-weight: 600;
  font-size: var(--font-size-h6);
  line-height: 130%;
  letter-spacing: 0.25px;
  vertical-align: middle;
}
.content {
  width: 100%;
  min-height: 56px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  @media screen and (max-width: 1349px) {
    flex-direction: column-reverse;
  }
}
.item {
  width: 100%;
  display: flex;
  width: 100%;
  height: 22px;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 1349px) {
    flex-direction: row-reverse;
  }
}
.itemLeft {
  width: fit-content;
  height: 22px;
  font-family: var(--font-family-secondary);
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.25px;
  vertical-align: middle;
  color: var(--color-text-secondary);
}
.colorGreen {
  color: var(--color-accent-success);
}
.colorOrange {
  color: var(--color-accent-orange);
}
.colorBlue {
  color: var(--color-accent-info);
}
.colorRed {
  color: var(--color-accent-red500);
}
.itemRight {
  width: fit-content;
  height: 22px;
  font-family: var(--font-family-secondary);
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.25px;
  vertical-align: middle;
  color: var(--color-text-secondary);
}
.buttonBox {
  width: 100%;
  height: 40px;
  display: flex;
  gap: 12px;
}
.basket {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  //   fill: #58151C;
}
.btn {
  width: 100%;
}
