.selectContainer {
  display: flex;
  flex-direction: column;
  width: 200px;
  font-family: var(--font-family-secondary);
  position: relative;
}

.selectBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--color-additional-border700);
  cursor: pointer;
  background: var(--color-bg-main);
  width: 100%;
  height: 40px;
}

.selectedText {
  color: var(--color-text-primary);
}

.placeholder {
  color: var(--color-text-secondary);
}

.dropdown {
  padding: 8px 12px;
  border: 1px solid var(--color-additional-border100);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  background: var(--color-bg-main);
  position: absolute;
  width: 100%;
  top: 100%;
  overflow: auto;
}

.option {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  cursor: pointer;
  color: var(--color-text-primary);

  &:hover {
    background-color: #e35c6a1a;
  }
}

.selected {
  background: var(--color-accent-red500);

  &:not(:hover) {
    color: var(--color-bg-main);
  }
}
