.header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-areas: 'lesson date format';
  background: var(--color-bg-main);
  border-radius: 8px;
  border: 1px solid var(--color-additional-border100);
  margin-bottom: 30px;
  min-height: 37px;
  line-height: 37px;

  @media screen and (max-width: 1349px){
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'lesson lesson'
      'date format';
  }
}

.headerItem {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &:not(:last-child) {
    border-right: 1px solid var(--color-additional-border100);
  }

  &:first-child {
    grid-area: lesson;

    @media screen and (max-width: 1349px){
      border-bottom: 1px solid var(--color-additional-border100);
    }
  }

  &:nth-child(2) {
    grid-area: date;
  }

  &:last-child {
    grid-area: format;
  }
}