.header {
    color: var(--color-accent-red500);
    border: 1px solid var(--color-accent-red500);
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 93px;
    background-color: var(--color-bg-gray100);
}
