.lessonItem {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lessonItemTitle {
  color: var(--color-text-primary);
}

.caption {
  color: var(--color-text-secondary);
}
