.lessonTheme {
  width: 240px;
  height: fit-content;
  display: flex;
  padding: 8px 12px 8px 0;
  align-items: center;

  // padding-left: 0;
}

.checkboxContainer {
  width: 36px;
  height: 36px;
  padding: 9px;
  cursor: pointer;
}

.checkbox {
  // all: unset;
  appearance: none;
  width: 18px;
  height: 18px;
  cursor: pointer;
  background-color: var(--color-additional-border100);

  // &:active,
  // &:focus,
  &:checked {
    background-color: var(--color-accent-red500);
    border-color: var(--color-accent-red500);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
  }

  &:focus {
    background-color: var(--color-bg-red700);
  }

  &:disabled {
    background-color: var(--color-additional-icons-grey);
  }
}
