.filtersContainer {
  display: flex;
  gap: 30px;
  align-items: flex-end;

  @media screen and (max-width: 1349px) {
    flex-direction: column;
  }
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
  width: 100%;

  > div:first-child {
    margin-left: 0;
    width: 100%;

    input {
      border-bottom: 1px solid var(--color-additional-border700);
      border-radius: 0;
    }
  }

  @media screen and (max-width: 1349px) {
    overflow-x: auto;
    scrollbar-width: none;
  }

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.filterItem {
  min-width: 220px;

  &::placeholder {
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-light);
    color: var(--color-text-secondary);
  }

  p {
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-light);
  }

  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.search {
  height: 100%;
  padding: 0;

  > div:last-child:focus-within {
    input {
      width: 100%;
    }
  }
}

.hidden {
  display: none;
}
